body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Specific rule for h1 */
h1 {
    color: yellow;
    border-bottom: 1px solid white;  /* Add a white border at the bottom */
    padding-bottom: 10px;  /* Optional: Add some padding at the bottom for spacing */
}

h3 {
    color: yellow;
    position: relative;
    padding-bottom: 15px;
}

h3::after {
    content: "";
    position: absolute;
    left: 50%; /* Start the line at the center */
    bottom: 0; /* Align to the bottom of the element */
    transform: translateX(-50%); /* Center the line */
    width: 50%; /* Line is 50% of the element's width */
    border-bottom: 1px solid white; /* White line */
}

/* General rule for other elements */
header, main, h2, p, ul, li {
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

header {
    margin-bottom: 50px;
}

section {
    margin-bottom: 30px;
}

a {
    color: yellow;
    text-decoration: none; /* Removes underline */
}

/* Optional: To change the color when hovering over the link */
a:hover {
    color: orange;
}

.underline {
    border-bottom: 2px solid #5b5b5b;  /* change the color and thickness as needed */
}
.contact-info {
    background-color: #5b5b5b; /* light gray background */
    color: black; /* text color */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.contact-info p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
    font-size: 16px;
}

.contact-info strong {
    font-weight: 600;
}
